{% extends 'base.html' %}
{% block content %}
    <h1>Welcome to Plantify Shop!</h1>
    <h5>{{ app_name }}</h5>
    <h5>Current User</h5>
    <p>{{ name }}</p>
    <a href="{% url 'main:logout' %}">
        <button>Logout</button>
    </a>
    <h5>Last logged in: {{ last_login }}</h5>
    {% if not tropical_plants %}
        <p>Belum ada data tanaman tropis pada toko Plantify.</p>
    {% else %}
        <table>
            <tr>
                <th>Plant name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Weight</th>
            </tr>
            {% comment %} Berikut cara memperlihatkan data mood di bawah baris ini
            {% endcomment %}
            {% for plant in tropical_plants %}
                <tr>
                    <td>{{ plant.name }}</td>
                    <td>{{ plant.price }}</td>
                    <td>{{ plant.description }}</td>
                    <td>{{ plant.weight }}</td>
                    <td>
                        <a href="{% url 'main:edit_tropical_plant' plant.pk %}">
                            <button>Edit</button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'main:delete_tropical_plant' plant.pk %}">
                            <button>Delete</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <br />
    <a href="{% url 'main:add_tropical_plant' %}">
        <button>Add A Tropical Plant</button>
    </a>
{% endblock content %}
