{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Home</title>
{% endblock meta %}
{% block content %}
    {% include 'navbar.html' %}
    <div>
        <section class="min-h-screen pt-24 px-3 md:px-10 flex flex-col items-center">
            <div class="w-full h-full bg-white/80 p-6 rounded-xl space-y-2">
                <h5 class="text-lg md:text-2xl text-green-800">
                    Hi, <b>{{ name }}</b>
                </h5>
                <h5 class="text-sm md:text-base">
                    Last logged in:
                    <br class="block md:hidden">
                    <b>{{ last_login }}</b>
                </h5>
            </div>
            <div class="flex flex-col items-center justify-evenly h-full grow">
                <header class="flex flex-col items-center justify-center gap-5 my-10">
                    <h1 class="text-4xl font-bold tracking-tighter text-green-900 sm:text-5xl xl:text-6xl/none text-center w-full">
                        Welcome to <span class="whitespace-nowrap">Plantify Shop!</span>
                    </h1>
                    <p class="max-w-[600px] text-green-800 md:text-xl w-full text-center block">
                        Discover our curated collection of beautiful, easy-to-care-for plants that will transform your space into a green oasis.
                    </p>
                </header>
                <div class="my-5 flex flex-col items-center justify-center gap-5 text-green-800 text-sm md:text-lg">
                    <p>
                        🌻 <b>Reminder</b>:
                        <br class="block md:hidden">
                        Have you watered your plants today?
                    </p>
                    <div class="before:block before:absolute before:-inset-1 before:-skew-y-2 before:bg-green-800 relative flex flex-col items-center justify-center p-1 md:p-3 text-sm md:text-base text-center">
                        <p class="relative text-gray-50 font-medium">Check out our plants if you still don't have one!</p>
                        <p class="tracking-widest font-bold text-gray-50 relative leading-relaxed">↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="min-h-screen pt-24 bg-gray-50" id="plants">
            <div id="tropical_plants_cards"></div>
            <br />
            <div class="flex flex-col gap-3 w-full items-center justify-center p-5 text-lg">
                <p>Haven't found a plant you like?</p>
                <a href="{% url 'main:add_tropical_plant' %}"
                   class="bg-green-700 text-white hover:bg-green-800 p-3 rounded-md font-medium">
                    <button>Add a Tropical Plant!</button>
                </a>
            </div>
        </section>
    </div>
    <script src="{% static 'scripts/main.js' %}"></script>
{% endblock content %}
