{% extends 'base.html' %}
{% block meta %}
    <title>Register</title>
{% endblock meta %}
{% block content %}
    <div class="min-h-screen flex items-center justify-center w-screen bg-green-100 py-12 px-4 sm:px-6 lg:px-8 font-['Poppins']">
        <div class="bg-gray-50 p-10 rounded-xl form-style">
            <div class="text-center text-4xl font-bold text-green-900">
                <h2>Create your account.</h2>
            </div>
            <form method="POST"
                  action=""
                  class="flex items-center justify-center flex-col gap-4 w-full my-7">
                {% csrf_token %}
                <input type="hidden" name="remember" value="true">
                <div class="w-full flex flex-col gap-2">
                    {% for field in form %}
                        <div class="flex flex-col">
                            <label for="username" class="font-medium">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
                <div class="w-full">
                    <input class="w-full bg-green-700 p-2 rounded-md text-white hover:bg-green-800 font-medium tracking-wide cursor-pointer !border-0"
                           type="submit"
                           value="Register" />
                </div>
            </form>
            {% if messages %}
                <ul>
                    {% for message in messages %}<li>{{ message }}</li>{% endfor %}
                </ul>
            {% endif %}
            <p class="w-full text-center">
                Already have an account?
                <a href="{% url 'main:login' %}" class="text-green-700 hover:underline">Login here</a>
            </p>
        </div>
    </div>
{% endblock content %}
